/* 
- Block
- inline-(left to right)
- inline-Block (top to bottom)
- flex (khali parent ma j lewu child ma pop ley nay)
- grid  (spacing sem ape)
- flex-grow 
- flex-basis
- flex-shrink
*/

.parent
{
    display: flex;
    height: 600px;
    width: 1200px;
    border: 2px solid black;

    .box-1
    {
       flex-basis: 100px;
       width: 100px;
       height: 100px;
       background-color: rgb(143, 176, 26);
       border: 2px solid rgb(20, 22, 22);
    }
    .box-2
    {
       flex-grow: 1;
       width: 100px; 
       height: 100px;
       background-color: rgb(148, 199, 27);
       border: 2px solid rgb(16, 18, 18);
    }
    .box-3
    {
       width: 100px;
       height: 100px;
       background-color: rgb(149, 206, 17);
       border: 2px solid rgb(9, 10, 10);
    }
    .box-4
    {
       width: 100px;
       height: 100px;
       background-color: rgb(173, 208, 32);
       border: 2px solid rgb(17, 18, 18);
    }
}